{% extends 'base.html' %}
{% load static %}
{% block script %}
    <script src="{% static 'js/cart.js' %}"></script>
{% endblock script %}
{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Cart</li>
        </ol>
    </nav>
{% endblock breadcrumb %}
{% block content %}
    {% include 'forms/cart_form.html' %}
    <button id="updateCartBtn" class="btn btn-outline-success" type="button" form="cart">Save cart</button>
{% endblock content %}
